.whole-box {
    height: 100vh;
    /* border: 5px solid red; */
}

.movies-box {
    position: relative;
    margin: auto;
    display: flex;
    background: #36393f;
    /* border: 5px solid rgb(25, 0, 255); */
    height: 100%;
    box-sizing: border-box;
    /* padding-bottom: 200px; */
}

.movies-list-responsive {
    display: none;
}

.movies-list {
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 10px;
    padding-top: 10px;
    width: 100%;
    padding: 5px;
    gap: 0px;
}

.movies-list>ul {
    /* border: 5px solid red; */
    margin: 0;
    padding-top: 10px;
    padding-left: 0;
}

.movies-list>ul>li {
    margin: 0;
    padding: 0;
}

.movies-list ul li:hover {
    margin: 0;
    padding: 0;
}

.photo-list {
    padding: 10px;
    width: 150px;
    height: 250px;
    transition: transform 0.4s, border-width 0.4s linear;
    cursor: pointer;
}

.photo-list:hover {
    border: 5px solid rgb(182, 177, 177);
    transform: scale(1.1);
}

.single-movie {
    padding: 5px;
    width: 100%;
    border-left: 1px solid rgb(255, 255, 255);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-width:1299px) {
    .movies-box {
        display: block;
        height: 91%;
        /* border: 5px solid rgb(212, 22, 22); */
    }

    .movies-list {
        display: none
    }

    .movies-list-responsive {
        overflow-y: auto;
        display: block;
        padding-top: 10px;
        margin-left: 0px;
        width: 100%;
        height: 50%;
        overflow-x: auto;
    }

    .list-container {
        display: flex;
        background-color: rgba(51, 51, 51, 0.521);
    }



    .movies-list-responsive>ul {
        padding: 0px;
        margin-left: 0px;
    }

    .title-description {
        display: inline-block;
        color: rgb(182, 177, 177);
        padding: 0px;
    }

    .movie-title-responsive {
        padding-top: 5px;
    }

    .movie-paragraph {
        width: 100%;

    }

    .photo-list-responsive {
        padding: 10px;
        width: 110px;
        height: 170px;
        cursor: pointer;
    }

}

@media only screen and (max-width:748px) {
    .movies-box {
        height: 90vh;
    }
}

@media only screen and (max-width:450px) {
    .movies-box {
        height: 87vh;
    }

}


@media only screen and (max-width:390px) {
    .whole-box {
        height: 87vh;
    }
}