.movies-box {
    position: relative;
    margin: auto;
    display: flex;
    background: #36393f;
    border: 5px solid red;
    height: 100vh
}

.movies-list {
    width: 50%;
    border: 5px solid rgb(0, 0, 0);
}

.movies-list > ul {
    display: inline-flex;
}

.photo-list {
    width:100px;
    height:150px;
}

.single-movie {
    width: 50%;
    border: 5px solid rgb(43, 18, 184);
}