.whole-box {
    height: 100vh;
}

.movies-box {
    position: relative;
    margin: auto;
    display: flex;
    background: #36393f;
    /* border: 5px solid red; */
    height: 100vh
}

.movies-list {
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 10px;
    padding-top: 10px;
    width: 100%;
    padding: 5px;
    gap: 0px;
}

.movies-list>ul {
    /* border: 5px solid red; */
    margin: 0;
    padding-top: 10px;
}

.movies-list>ul>li {
    margin: 0;
    padding: 0;
} 

.movies-list ul li:hover {
    margin: 0;
    padding: 0;
}

.photo-list {
    padding: 10px;
    width: 150px;
    height: 250px;
    transition: transform 0.4s, border-width 0.4s linear;
    cursor: pointer;
}

.photo-list:hover {
    border: 5px solid rgb(182, 177, 177);
    transform: scale(1.1);
}

.single-movie {
    padding: 5px;
    width: 100%;
    border-left: 1px solid rgb(255, 255, 255);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}