.navigation-bar {
	position: relative;
	margin: auto;
	display: flex;
	background: #36393f;
}

.name-form {
	padding: 5px;
	width: 80%;
	position: relative;
	margin: auto;
}

.title {
	width: 100%;
	color: rgb(182, 177, 177);
}

.input-field {
	width: 100%;
}

.logo-picture {
	margin: 10px;
	width: 100%;
	height: 90px;
	background-color: 'transparent';
}

.logo-picture > img {
	float: right;
	object-fit: cover;
	width: 30%;
	height: 82px;
	overflow: hidden;
}


.add-movie-form {
	width: 20%;
}

.abc-box {
	position: relative;
	margin: auto;
	display: flex;
	size: 100vh;
	background: #36393f;
	padding: 5px;
	border-bottom: 1px solid rgb(255, 255, 255);
	overflow-x: hidden;
	overflow-y: hidden;
}

.abc-bar-whole {
	width: 100%;
}

.abc-bar {
	padding: inherit;
}

.abc-bar>li {
	text-align:center;
	color: rgb(182, 177, 177);
	cursor: pointer;
	transition: transform 0.4s;
}

.abc-bar>li:hover {
	transform: scale(1.5);
}

.button-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 30px;
  transition: all 0.3s;
	color: rgb(182, 177, 177)!important;
}


.btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.add-button::before {
	left: 4px;
	z-index: 1;
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 1);
}

.add-button:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.add-button::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.add-button:hover::after {
  transform: scale(1, .1);
  opacity: 0;
}

@media only screen and (max-width:1299px) {
	.abc-box {
		padding: 0;
	}
	.abc-bar {
		display: none;
	}

	.add-button >h4{
		font-size: 1rem;
	}

}

@media only screen and (max-width:740px) {

	.btn {
		font-size: 0.8rem!important;
	}

	.add-button >h4{
		font-size: 0.7rem;
	}

}