.movie-box {
	position: relative;
	justify-content: center;
	height: -moz-fit-content;
	height: 100%;
}

.movie-show-background {
	/* position: absolute; */
	height: inherit;
	width: 100%;
	background-size: auto;
	opacity: 0.1;
}

.single-movie-container {
	/* border: 5px solid rgb(212, 22, 22); */
	width: 100%;
	position: absolute;
	top: 0%;
	height: 100%;
}

.movie-description {
	display: flex;
	position: relative;
	color: rgb(182, 177, 177);
	clear: left;
	height: 30%;
	width: 100%;
}

.movie-title {
	color: rgb(182, 177, 177);
}

.photo-single {
	margin: 10px;
	float: left;
	width: 168px;
	height: 250px;
}

.description {
	padding-top: 20px;
	/* position: absolute; */
	/* padding-top: 60px; */
}

.movie-summary {
	display: flex;
	/* border: 5px solid rgb(212, 22, 22); */
	color: rgb(182, 177, 177);
	/* padding-top: 20px; */
	/* padding-left: 10px; */
	height: 50%;
}

.column-left {
	width: 100%;
	/* border: 5px solid rgb(212, 22, 22); */
}
.column-left > ul {
	margin-left: 10px;
	padding-top: 40px;
	padding-left: 0;
	/* border: 5px solid rgb(212, 22, 22); */
}

.column-right {
	width: 100%;
	/* border: 5px solid rgb(212, 22, 22); */
}
.column-right > ul{
	padding-top: 40px;
	/* border: 5px solid rgb(212, 22, 22); */
}

.movie-summary>ul {
	padding-left: 5px;
}

.delete {
	/* border: 5px solid rgb(212, 22, 22); */

	/* position: absolute; */
	bottom: 0;
}

.delete .btn {
	position: relative;
	width: 100%;
	height: 100%;
	line-height: 64px;
	transition: all 0.3s;
	color: rgb(182, 177, 177) !important;
}

.delete .btn::before,
.btn::after {
	content: '';
	position: absolute;
	transition: all 0.3s;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}


.delete-button::before {
	left: 4px;
	z-index: 1;
	opacity: 0;
	background: rgba(255, 255, 255, 0.1);
	transform: scale(0.1, 1);
}

.delete-button:hover::before {
	opacity: 1;
	transform: scale(1, 1);
}

.delete-button::after {
	transition: all 0.3s;
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.delete-button:hover::after {
	transform: scale(1, .1);
	opacity: 0;
}

@keyframes rotatecw {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes rotateccw {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(-360deg);
	}
}

.confirm-delete-button::before {
	left: 4px;
	z-index: 1;
	opacity: 0;
	background: rgba(255, 255, 255, 0.473);
	transform: scale(0.1, 1);
}

.confirm-delete-button:hover::before {
	opacity: 1;
	transform: scale(1, 1);
}

.confirm-delete-button::after {
	transition: all 0.3s;
	border: 1px solid rgb(255, 255, 255);
}

.confirm-delete-button:hover::after {
	transform: scale(1, .1);
	opacity: 0;
}

@media only screen and (max-width:1300px) {

	.photo-single-container {
		width: 30%;
	}

	.photo-single-body {
		width: 30%;
	}

	.delete {
		position: relative;
		margin-top: 0%
	}


	.single-movie {
		border: 5px solid rgb(212, 22, 22);
	}

	.single-movie-container {
		width: 100%;
		position: absolute;
		top: 0%;
	}

	.movie-description {
		display: flex;
		position: relative;
		color: rgb(182, 177, 177);
		clear: left;
		height: 30%;
		width: 100%;
	}

	.movie-title {
		color: rgb(182, 177, 177);
	}

	.photo-single {
		margin: 10px;
		float: left;
		width: 168px;
		height: 250px;
	}

	.description {
		/* position: absolute; */
		/* padding-top: 60px; */
	}

	.movie-summary {
		float: right;
		color: rgb(182, 177, 177);
		padding-top: 20px;
		height: 50%;
	}

	.movie-summary,
	ul {
		padding-right: 10px;
	}

	.movie-show-background {
		width: fit-content;
		height: auto;
	}

}