.movie-box {
	position: relative;
	justify-content: center;
	height: -moz-fit-content;
	height: 100%;
	
	/* border: 5px solid rgb(26, 197, 40); */
}

.movie-title {
	color: rgb(182, 177, 177);
}

.photo-single {
	margin: 10px;
	float: left;
	width: 168px;
	height: 250px;
}

.movie-show-background{
	position: absolute;
	height: inherit;
	width: 100%;
	background-size: auto;
	opacity: 0.1;
}


.movie-description {
	color: rgb(182, 177, 177);
	clear: left;
	height: 30%;
	/* border: 5px solid rgb(197, 26, 146); */
}

.description {
	padding-top: 60px;
}

.movie-summary {
	color: rgb(182, 177, 177);
	padding-top: 20px;
	height: 50%;
	/* border: 5px solid rgb(197, 26, 146); */
}

.movie-summary, ul {
	padding-left: 0;
}

.delete .btn {
  position: relative;
  width: 20%;
  height: 20%;
  line-height: 64px;
  transition: all 0.3s;
	color: rgb(182, 177, 177)!important;
}

.delete .btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}


.delete-button::before, .delete-button::after {
  content: '';
  position: absolute;
  width: 100%;
	height: 100%;
  bottom: 0;
	left: 0;
	z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.delete-button:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.delete-button:hover::before {
  animation-name: rotateccw; 
  animation-duration: 3s;
}
.delete-button:hover::after, .delete-button:hover::before {
  left: 10px;
  width: 150px;
  
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateccw {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}